body {
    background-color: darkslategray;
}

div.tgn-content {
    padding: 2em;
    background-color: whitesmoke;
    margin: 2em auto;
    border-radius: 1em;
    border-style: solid;
    border-width: medium;
}

div.tgn-verse-box {
    overflow: auto;
    margin-bottom: 0.25em;
}

div.tgn-verse-text {
    float: right;
}

div.tgn-verse-number {
    float: right;
    margin-right: 1em;
    color: lightgray;
}

div.tgn-verse-chapter {
    float: right;
    color: lightgray;
}

div.tgn-verse-chapter::after {
    content: ":";
}

div.tgn-verse-book {
    float: right;
    margin-right: 1em;
    color: lightgray;
}

hr.tgn-skip {
    border-top: dotted 1px lightgray;
}

@media screen and (min-aspect-ratio: 4/3) {
    body { font-size: 1.5vw; }
    div.tgn-content { width: 60%; }
    div.tgn-verse-text { width: 75%; }
    hr.tgn-skip { width: 75%; margin-left: 25%; }
}

@media screen and (max-aspect-ratio: 1/1) {
    body { font-size: 2vw; }
    div.tgn-content { width: 85%; }
    div.tgn-verse-text { width: 70%; }
    hr.tgn-skip { width: 70%; margin-left: 30%; }
}
