body {
    background-color: darkslategray;
}

div.tgn-content {
    padding: 2em;
    background-color: whitesmoke;
    margin: 2em auto;
    width: 60%;
    border-radius: 1em;
    border-style: solid;
    border-width: medium;
}

div.tgn-verse-box {
    overflow: auto;
    margin-bottom: 0.25em;
}

div.tgn-verse-text {
    float: right;
    width: 80%;
}

div.tgn-verse-number {
    float: right;
    margin-right: 1em;
    color: lightgray;
}

div.tgn-verse-chapter {
    float: right;
    color: lightgray;
}

div.tgn-verse-chapter::after {
    content: ":";
}

div.tgn-verse-book {
    float: right;
    margin-right: 1em;
    color: lightgray;
}

hr.tgn-skip {
    width: 80%;
    margin-left: 20%;
    border-top: dotted 1px lightgray;
}


